.App {
  text-align: center;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.card {
  text-align: center;
  margin: 5px;
  text-transform: uppercase;
  padding: 50px;
  border-radius: 15px 50px;
}

.card :hover {
  color: #f57f17;
}

.card-body {
  font-size: 30px;
}

#starshipDetails {
  color: white;
}
body {
  background-image: url(../public/stars1.gif);
  background-size: 100%;
  align-items: center;
}
